<form method='POST' action='/login'>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name='email'
    value="<%= flash.loginEmail || '' %>">

  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name='password'>
  </div>
  <% if(flash.loginError){ %> 
    <div class="alert alert-danger">
      <i class="fas fa-dizzy"></i>
      That username / password combination was not found.
    </div>
  <%}%>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
